<div class="container-fluid"><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <div class="card" style="width: 100%;border-radius: 12px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <div (click)="addGroup()" class="hoverTransition">
                                <i style="margin-top: 15px;" class="secondaryColor fa fa-plus-circle commonFaFaFeatures"
                                    aria-hidden="true"></i>
                            </div>
                            <div style="margin-top: 5px;"></div>
                            <span class="secondaryColor fontBoldMiniSmall">
                                Add Group
                            </span>
                            <div style="margin-top: 10px;"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <button type="button" [ngClass]="{ 'active' : flagMapping == 1 }" class="button button1"
                                (click)="changeGroupDetails(1)">Groups that owe
                                you</button><br />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <button type="button" [ngClass]="{ 'active' : flagMapping == 2 }" class="button button1"
                                (click)="changeGroupDetails(2)">Groups you
                                owe</button><br />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        </div>
    </div>

    <div *ngIf="flagMapping == 1" class="row">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><br />
            <div *ngIf="loggedGroupDetailsList.length > 0" class="row">
                <ng-container *ngFor="let loggedGroupDetails of loggedGroupDetailsList;let i =index;">
                    <div *ngIf="(loggedGroupDetails.createdGroups | keyvalue)?.length"
                        class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div id="box" class="card" style="width: 100%;border-radius: 12px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <ngx-avatar name="{{loggedGroupDetails.createdGroups.groupName}}" size="35">
                                        </ngx-avatar>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                        <h6 style="margin-top: 4px;"
                                            class="secondaryColor fontBoldMiniSmall card-title">
                                            {{loggedGroupDetails.createdGroups.groupName}}</h6>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <span class="secondaryColor fontCustomSmall"><i style="font-size: 12px;"
                                                class="fa fa-rupee commonSmallFaFaFeatures" aria-hidden="true"></i>
                                            {{loggedGroupDetails.createdGroups.expense}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                        <span class="smallTextColor fontCustomSmall">Your share :
                                            <span style="color: #3CB371;"><i style="font-size: 12px;"
                                                    class="fa fa-rupee commonSmallFaFaFeatures" aria-hidden="true"></i>
                                                {{loggedGroupDetails.createdGroups.yourShare}}
                                            </span></span>
                                    </div>
                                </div>
                                <ng-container
                                    *ngFor="let friend of loggedGroupDetails.createdGroups.friends;let i =index;">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                            <span class="smallTextColor fontCustomSmall"> {{friend.name}} owe you :
                                                <span style="color: red;"><i style="font-size: 12px;"
                                                        class="fa fa-rupee commonSmallFaFaFeatures"
                                                        aria-hidden="true"></i>
                                                    {{friend.amount}}</span></span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div><br />
                    </div>
                </ng-container>
            </div>

            <div *ngIf="createdGroups == 0" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <span class="smallTextColor fontRegularSmall">No groups available that owe you !!</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
    </div>

    <div *ngIf="flagMapping == 2" class="row">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><br />

            <div *ngIf="owedGroups == 1" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <span class="smallTextColor fontBoldMiniSmall">Total amount you owe across all the groups :
                        <span class="secondaryColor fontBoldMiniSmall"><i style="font-size: 12px;"
                                class="fa fa-rupee commonSmallFaFaFeatures" aria-hidden="true"></i>
                            {{totalOwedAmtAcrossAllGrps | number:'1.2-2'}}</span>
                    </span>
                    <div style="margin-top: 10px;"></div>
                </div>
            </div>

            <div *ngIf="owedGroups == 1" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <span (click)="openAmountModal()" class="secondaryColor fontBoldMiniSmall" style="cursor: pointer;">
                        <i style="font-size: 12px;" class="fa fa-gear fa-spin commonSmallFaFaFeatures"
                            aria-hidden="true"></i> Click here to know how much you owe or other's owe you across all
                        the groups among the
                        friends
                        <i style="font-size: 12px;" class="fa fa-gear fa-spin commonSmallFaFaFeatures"
                            aria-hidden="true"></i>
                    </span>
                    <div style="margin-top: 10px;"></div>
                </div>
            </div>

            <div *ngIf="loggedGroupDetailsList.length > 0" class="row">
                <ng-container *ngFor="let loggedGroupDetails of loggedGroupDetailsList;let i =index;">
                    <div *ngIf="(loggedGroupDetails.owedGroups | keyvalue)?.length"
                        class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div id="box" class="card" style="width: 100%;border-radius: 12px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <ngx-avatar name="{{loggedGroupDetails.owedGroups.groupName}}" size="35">
                                        </ngx-avatar>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                        <h6 style="margin-top: 4px;"
                                            class="secondaryColor fontBoldMiniSmall card-title">
                                            {{loggedGroupDetails.owedGroups.groupName}}</h6>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <span class="secondaryColor fontCustomSmall"><i style="font-size: 12px;"
                                                class="fa fa-rupee commonSmallFaFaFeatures" aria-hidden="true"></i>
                                            {{loggedGroupDetails.owedGroups.expense}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                        <span class="smallTextColor fontCustomSmall">You owe
                                            {{loggedGroupDetails.owedGroups.owedFriend.name}}
                                            <span style="color: red;"><i style="font-size: 12px;"
                                                    class="fa fa-rupee commonSmallFaFaFeatures" aria-hidden="true"></i>
                                                {{loggedGroupDetails.owedGroups.owedExpense}}</span></span>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                    </div>
                </ng-container>
            </div>

            <div *ngIf="owedGroups == 0" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <span class="smallTextColor fontRegularSmall">No groups available for you to owe !!</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
    </div>

</div>

<!--Amt Modal-->
<div class="modal fade" id="myAmtModal">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">

            <!-- Modal Header -->

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <span class="secondaryColor fontBoldSmall">
                                    <i class="fa fa-refresh commonFaFaFeatures" style="font-size: 20px;"
                                        aria-hidden="true"></i>&nbsp;&nbsp;
                                    Your Return's/Reimburse Mapping<br />
                                    <span class="smallTextColor fontBoldVeryMiniSmall">
                                        (Among all the groups)
                                    </span>
                                </span>
                            </div>
                        </div>

                        <hr style="width: 80%;">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <ul style="list-style-position: inside;">
                                    <ng-container *ngFor="let item of owedUsersTotalExpense | keyvalue">
                                        <li>
                                            <span class="smallTextColor fontCustomSmall">
                                                {{item.value.youOwe}} owe {{item.value.oweYou}}
                                                <span
                                                    [ngClass]="item.value.sign == 'negative' ? 'negValue' : 'posValue'">
                                                    <i style="font-size: 12px;"
                                                        class="fa fa-rupee commonSmallFaFaFeatures"
                                                        aria-hidden="true"></i> {{item.value.finalAmount}}</span>
                                            </span>
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>

                        <hr style="width: 80%;">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <button type="button" class="btn btn-secondary secondarybackgroundColor"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Modal footer -->

    </div>
</div>
<!---->