<div class="container-fluid"><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <div class="card" style="width: 100%;border-radius: 12px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <div (click)="addGroup()" class="hoverTransition">
                                <i style="margin-top: 15px;" class="secondaryColor fa fa-plus-circle commonFaFaFeatures"
                                    aria-hidden="true"></i>
                            </div>
                            <div style="margin-top: 5px;"></div>
                            <span class="secondaryColor fontBoldMiniSmall">
                                Add Group
                            </span>
                            <div style="margin-top: 10px;"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <button type="button" [ngClass]="{ 'active' : flagMapping == 1 }" class="button button1"
                                (click)="changeGroupDetails(1)">Groups that owe
                                you</button><br />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <button type="button" [ngClass]="{ 'active' : flagMapping == 2 }" class="button button1"
                                (click)="changeGroupDetails(2)">Groups you
                                owe</button><br />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        </div>
    </div>

    <div *ngIf="flagMapping == 1" class="row">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><br />
            <div *ngIf="loggedGroupDetailsList.length > 0" class="row">
                <ng-container *ngFor="let loggedGroupDetails of loggedGroupDetailsList;let i =index;">
                    <div *ngIf="(loggedGroupDetails.createdGroups | keyvalue)?.length"
                        class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div id="box" class="card" style="width: 100%;border-radius: 12px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <ngx-avatar name="{{loggedGroupDetails.createdGroups.groupName}}" size="35">
                                        </ngx-avatar>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                        <h6 style="margin-top: 4px;"
                                            class="secondaryColor fontBoldMiniSmall card-title">
                                            {{loggedGroupDetails.createdGroups.groupName}}</h6>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <span class="secondaryColor fontCustomSmall"><i style="font-size: 12px;"
                                                class="fa fa-rupee commonSmallFaFaFeatures" aria-hidden="true"></i>
                                            {{loggedGroupDetails.createdGroups.expense}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                        <span class="smallTextColor fontCustomSmall">Your share : <i
                                                style="font-size: 12px;" class="fa fa-rupee commonSmallFaFaFeatures"
                                                aria-hidden="true"></i>
                                            {{loggedGroupDetails.createdGroups.yourShare}}</span>
                                    </div>
                                </div>
                                <ng-container
                                    *ngFor="let friend of loggedGroupDetails.createdGroups.friends;let i =index;">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                            <span class="smallTextColor fontCustomSmall"> {{friend.name}} owe's you :
                                                <i style="font-size: 12px;" class="fa fa-rupee commonSmallFaFaFeatures"
                                                    aria-hidden="true"></i>
                                                {{friend.amount}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div><br />
                    </div>
                </ng-container>
            </div>

            <div *ngIf="createdGroups == 0" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <span class="smallTextColor fontRegularSmall">No groups available that owe you !!</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
    </div>

    <div *ngIf="flagMapping == 2" class="row">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><br />

            <div *ngIf="owedGroups == 1" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <span class="smallTextColor fontBoldMiniSmall">Total amount you owe across all the groups :
                        <span class="secondaryColor fontBoldMiniSmall"><i style="font-size: 12px;"
                                class="fa fa-rupee commonSmallFaFaFeatures" aria-hidden="true"></i>
                            {{totalOwedAmtAcrossAllGrps}}</span>
                    </span>
                    <div style="margin-top: 10px;"></div>
                </div>
            </div>

            <div *ngIf="loggedGroupDetailsList.length > 0" class="row">
                <ng-container *ngFor="let loggedGroupDetails of loggedGroupDetailsList;let i =index;">
                    <div *ngIf="(loggedGroupDetails.owedGroups | keyvalue)?.length"
                        class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div id="box" class="card" style="width: 100%;border-radius: 12px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <ngx-avatar name="{{loggedGroupDetails.owedGroups.groupName}}" size="35">
                                        </ngx-avatar>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                        <h6 style="margin-top: 4px;"
                                            class="secondaryColor fontBoldMiniSmall card-title">
                                            {{loggedGroupDetails.owedGroups.groupName}}</h6>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <span class="secondaryColor fontCustomSmall"><i style="font-size: 12px;"
                                                class="fa fa-rupee commonSmallFaFaFeatures" aria-hidden="true"></i>
                                            {{loggedGroupDetails.owedGroups.expense}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                        <span class="smallTextColor fontCustomSmall">You owe
                                            {{loggedGroupDetails.owedGroups.owedFriend.name}} <i
                                                style="font-size: 12px;" class="fa fa-rupee commonSmallFaFaFeatures"
                                                aria-hidden="true"></i>
                                            {{loggedGroupDetails.owedGroups.owedFriend.amount}}</span>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                    </div>
                </ng-container>
            </div>

            <div *ngIf="owedGroups == 0" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <span class="smallTextColor fontRegularSmall">No groups available for you to owe !!</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
    </div>

</div>