<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 text-center">
      <br><br><br><br><br>
      <h1 id="sin" style="color: #2867B2;">
        <i style="font-size: 32px;" class="fa fa-random commonSmallFaFaFeatures" aria-hidden="true"></i>
        Spli<span style="color:black">tter</span>
      </h1><br>
      <button type="button" (click)="goToHomeScreen()" class="button button1 widthHome"
        style="padding: 0.5%;">Home</button>
      <br><br>
      <h1 id="sin" style="color:#2867B2;"><span style="color:black">Oops </span> Page Not Found!!</h1>
      <div id="sin" class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
    </div>
  </div>
</div>