<nav class="navbar navbar-expand-md navbar-light">
    <h3 style="font-weight: 500;" class="primaryColor block">
        <span style="color: white;">
            <i style="font-size: 20px;" class="fa fa-random commonSmallFaFaFeatures" aria-hidden="true"></i>
            Splitter</span>
    </h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a style="cursor: pointer;color: white;" class="smallTextColor button2" (click)="login()">
                    <i class="fa fa-share commonFaFaFeatures" style="color: white;font-size: 20px;"
                        aria-hidden="true"></i>&nbsp;&nbsp;Login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-6 col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"> -->
        <div class="jumboSize"><br /><br />
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <span class="secondaryColor fontBoldSmall" style="font-size: 30px;">
                        Easy splitting of group expenses
                    </span><br />
                    <span class="smallTextColor fontBoldVeryMiniSmall" style="font-size: 15px;">
                        <i style="font-size: 12px;" class="secondaryColor fa fa-gear fa-spin commonSmallFaFaFeatures"
                            aria-hidden="true"></i> The simplest way to calculate who owes what <i
                            style="font-size: 12px;" class="secondaryColor fa fa-gear fa-spin commonSmallFaFaFeatures"
                            aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center"></div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center"><br />
                    <button (click)="login()" class="downloadButton button3" type="button">
                        <span class="fontBoldMiniSmall">Start Now</span></button>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center"></div>
            </div>
            <br /><br />
        </div>
        <!-- </div> -->
    </div>
</div>

<div style="background-color: #F5F8FC; padding: 12px"></div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"><br />
        <div class="secondaryColor fontBoldSmall" style="padding: 9px; width: 80%; margin: auto">
            FEATURES
            <hr style="width: 20%;" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
        <div class="hoverTransition">
            <i style="margin-top: 25px; font-size: 40px" class="fa fa-users"></i>
        </div><br />
        <p class="secondaryColor fontRegularSmall">
            Add/View Groups
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
        <div class="hoverTransition">
            <i style="margin-top: 25px; font-size: 40px" class="fa fa-user"></i>
        </div><br />
        <p class="secondaryColor fontRegularSmall">
            Add/View Friends
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
        <div class="hoverTransition">
            <i style="margin-top: 25px; font-size: 40px" class="fa fa-rupee"></i>
        </div><br />
        <p class="secondaryColor fontRegularSmall">
            Add/Split Expenses
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
        <div class="hoverTransition">
            <i style="margin-top: 25px; font-size: 40px" class="fa fa-address-card-o"></i>
        </div><br />
        <p class="secondaryColor fontRegularSmall">
            View Summary
        </p>
    </div>
</div><br />

<div style="background-color: #F5F8FC; padding: 12px"></div>

<div class="container-fluid"><br />
    <div style="margin-top: 15px"></div>
    <div class="row jumboScreen">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div style="margin-top: 50px"></div>
            <h3 class="fontBoldMoreMedium" style="font-size: 30px;">Manage debts between friends</h3><br />
            <ul>
                <li>Splitter is the easiest way to share bills with friends</li>
                <div style="margin-top: 5px"></div>
                <li>Three steps to be follwed.</li>
                <div style="margin-top: 5px"></div>
                <li>Register yourself, create group, add friends and split the expense among friends.</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center"><br /><br />
            <img class="sideImages" src="assets/expense-share.svg" alt="Not_Found" />
        </div>
    </div>
</div>
<div style="background-color: #DCDCDC; padding: 4px"></div>
<div style="background-color: #F5F8FC; padding: 9px"></div>
<div style="background-color: #F7F7F7" class="contaner-fluid"><br />
    <div style="margin-top: 15px"></div>
    <div class="row jumboScreen">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><br /><br />
            <img class="sideImages imageCenter" src="assets/friends-trip.svg" alt="Not_Found" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5"><br /><br /><br />
            <h3 class="fontBoldMoreMedium" style="font-size: 30px;">Here's an example</h3><br />
            <ul>
                <li>Hari, Kiran and Manasa went to restaurant and shopping on weekend together.</li>
                <div style="margin-top: 5px"></div>
                <li>Hari pays for the restaurant bill.</li>
                <div style="margin-top: 5px"></div>
                <li>Kiran pays for the shopping bill.</li>
                <div style="margin-top: 5px"></div>
                <li>Manasa pays for the travel bill.</li>
            </ul>
        </div>
    </div>
</div>
<div style="background-color: #DCDCDC; padding: 4px"></div>
<div style="background-color: #F5F8FC; padding: 9px"></div>
<div class="container-fluid"><br />
    <div style="margin-top: 15px"></div>
    <div class="row jumboScreen">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5"><br /><br /><br />
            <h3 class="fontBoldMoreMedium" style="font-size: 30px;">Now who owes what?</h3><br />
            <ul>
                <li>Hari creates a group.</li>
                <div style="margin-top: 5px"></div>
                <li>Adds friends to that group.</li>
                <div style="margin-top: 5px"></div>
                <li>Puts his entire expenses on restaurant bill which will be splitted among Kiran and Manasa.</li>
                <div style="margin-top: 5px"></div>
                <li>Same functionality will be done by both Kiran and Manasa on their expenses spend on specific event.
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center"><br /><br />
            <img class="sideImages" src="assets/who-owe-how-much.svg" alt="Not_Found" />
        </div>
    </div>
</div>
<div style="background-color: #DCDCDC; padding: 4px"></div>
<div style="background-color: #F5F8FC; padding: 9px"></div>
<div style="background-color: #F7F7F7" class="contaner-fluid"><br />
    <div style="margin-top: 15px"></div>
    <div class="row jumboScreen">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><br /><br />
            <img class="sideImages imageCenter" src="assets/settling-up.svg" alt="Not_Found" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5"><br /><br /><br />
            <h3 class="fontBoldMoreMedium" style="font-size: 30px;">Settling up</h3><br />
            <ul>
                <li>Everyone can then see how much they owe and to whom.</li>
                <div style="margin-top: 5px"></div>
                <li>They can settle up and get on with the fun things in life.</li>
            </ul>
        </div>
    </div>
</div>
<div style="background-color: #DCDCDC; padding: 4px"></div>
<div style="background-color: #F5F8FC; padding: 9px"></div>

<!-- <div style="background-color: #F5F8FC; padding: 7px;"></div>
<div style="background-color: black; padding: 5px;"></div> -->
<footer class="footerAlign">
    <div class="container-fluid" style="background: #F8F8FF; padding-top: 20px;"><br class="breakDivDisplayNoShow" />
        <div class="breakDivDisplayNoShow" style="margin-top: 20px"></div>
        <div class="row">
            <!-- <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div> -->
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><br /><br />
                <h3 style="font-weight: 500;" class="primaryColor block">
                    <span>
                        <i style="font-size: 20px;" class="fa fa-random commonSmallFaFaFeatures" aria-hidden="true"></i>
                        Splitter</span>
                </h3>
                <br /><br />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <h5 class="primaryColor fontBoldSmall">Links</h5>
                <a class="smallTextColor button2">Home</a>
                <div style="margin-top: 5px"></div>
                <a class="smallTextColor button2">Blogs</a>
                <div style="margin-top: 5px"></div>
                <a class="smallTextColor button2">Contact Us</a>
                <div style="margin-top: 5px"></div>
                <a class="smallTextColor button2">Privacy Policy</a>
                <div style="margin-top: 5px"></div>
                <a class="smallTextColor button2">Terms of Use</a>
                <br /><br />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <h5 class="primaryColor fontBoldSmall">Contact</h5>
                <span>SPLITTER ENTERPRISES PRIVATE LIMITED <br />xxx, xxx, xxx, xxx,
                    xxx, xxx, xxx <br /> xxxxxxxx <br /> Mon-Sat (9am-8pm)</span>
                <p>contact@splitter.com</p>
                <br /><br />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <h5 class="primaryColor fontBoldSmall">Social Links</h5>
                <span style="margin-left: 20px;">
                    <i class="secondaryColor fa fa-facebook-square commonFaFaFeatures" style="font-size: 20px;"
                        aria-hidden="true"></i>&nbsp;&nbsp;
                    <i class="secondaryColor fa fa-linkedin-square commonFaFaFeatures" style="font-size: 20px;"
                        aria-hidden="true"></i>&nbsp;&nbsp;
                    <i class="secondaryColor fa fa-twitter-square commonFaFaFeatures" style="font-size: 20px;"
                        aria-hidden="true"></i>
                </span>
                <br /><br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <p>@Copyight 2021, Splitter.</p><br />
            </div>
        </div>
    </div>
</footer>



<!--Login Modal-->
<div class="modal fade" id="myLoginModal">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">

            <!-- Modal Header -->

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <span class="secondaryColor fontBoldSmall">
                                    <i class="fa fa-share commonFaFaFeatures" style="font-size: 20px;"
                                        aria-hidden="true"></i>&nbsp;&nbsp;
                                    Login
                                </span>
                            </div>
                        </div>

                        <hr style="width: 80%;">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-center">
                                        <form novalidate [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
                                            <input type="text" formControlName="userName" placeholder="Username"
                                                required><br /><br />
                                            <input type="email" formControlName="email" placeholder="Email" email
                                                required><br /><br />
                                            <button type="submit" class="button button1"
                                                [disabled]="LoginForm.invalid">Login</button><br />
                                        </form>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr style="width: 80%;">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <button type="button" class="btn btn-secondary secondarybackgroundColor"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Modal footer -->

    </div>
</div>
<!---->