input
{
    width:100%;
    border-radius:13px;
    padding:13px;
    border:darkgray;
    background-color: #F5F5F5;
}
.button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    cursor: pointer;
    border-radius: 13px;
    width:100%;
}
.button1 {
    background-color: #004b79; 
    color: white; 
    border: 2px solid #A4A4A4;
}
.button1:disabled {
cursor:not-allowed;
}
.button1:hover {
    color:#004b79;
    background-color: white; 
    border: 2px solid #004b79;
}

.active {
    color:#0e76a8; 
}
.commonFaFaFeatures {
    font-size: 15px;
}