.active {
    color:#0e76a8; 
}
.commonFaFaFeatures {
    font-size: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-right:100px;
  }
  
  .dropdown-content a {
    color: black;
    background-color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .navbar-nav > li > a {
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 30px;
      padding-left:15px;
      padding-right:15px;
  }
  .navbar-nav > li > a:hover
{
  cursor:pointer;
}
.navbar-light .navbar-toggler {
  border-color: white;
}
