.scrolling-wrapper {
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
}
.displayHorizontal {
    display: inline-block;
    margin: 0 10px;
    width: 35%;
  }